<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>


    <form action="/api/save" method="post">

        <main class="container">
            <h1 class="title">Cadastro</h1>
            <div class="row">
                <div class="inputbox">
                    <input type="text" id="nome" name="nome" required>
                    <label for="nome">Nome</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="email" name="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="inputbox">
                    <input type="text" id="senha" name="senha" required>
                    <label for="senha">Senha</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="cep" name="cep" onchange="buscarCep(event)" required>
                    <label for="cep">CEP</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="logradouro" name="endereco" required>
                    <label for="endereco">Endereço</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="numero" name="numero" required>
                    <label for="numero">Número</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="bairro" name="bairro" required>
                    <label for="bairro">Bairro</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="localidade" name="cidade" required>
                    <label for="cidade">Cidade</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="uf" name="estado" required>
                    <label for="estado">Estado</label>
                </div>
            </div>
            <div class="row">
                <button id="btn">Salvar</button>
                <button onclick="limpar(event)">Limpar</button>
            </div>

            <div class="divisor"></div>
            <h2> Já possui um cadastro ?</h2>
            <a class="falsoBot"  href="http://localhost:5000/api/loginRender">Login</a>

            <div class="divisor"></div>

          
        </main>
    </form>

    <footer> <a target="_blank" href="https://www.youtube.com/c/FernandoLeonid"> Designer by : FernandoLeonid </a> </footer>


    <!-- Via cep -->
    <script>
        async function buscarCep(event) {

            const cep = event.target.value
            const url = `https://viacep.com.br/ws/${cep}/json/`

            const response = await fetch(url)
            let dadosViaCep = await response.json()
            preencherCampos(dadosViaCep)
            console.log(dadosViaCep)
        }

        function preencherCampos(dadosViaCep) {

            document.getElementById("bairro").value = dadosViaCep.bairro
            document.getElementById("logradouro").value = dadosViaCep.logradouro
            document.getElementById("localidade").value = dadosViaCep.localidade
            document.getElementById("uf").value = dadosViaCep.uf

        }

        function limpar() {

            document.getElementById("nome").value = ""
            document.getElementById("email").value = ""
            document.getElementById("cep").value = ""
            document.getElementById("bairro").value = ""
            document.getElementById("logradouro").value = ""
            document.getElementById("localidade").value = ""
            document.getElementById("uf").value = ""

        }

    </script>





    <style>
        :root {
            --bg-color: #000;
            --primary-color: #FEED9F
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--bg-color);
        }

        .container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 20px;
            gap: 70px;

        }

        .title {
            font-size: 40px;
            text-align: center;
            color: var(--primary-color);
        }

        .row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(450px, 4fr));
            gap: 30px;
        }

        .inputbox {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            height: 40px;
        }

        .inputbox label {
            position: relative;
            top: 0;
            font-size: 21px;
            color: var(--primary-color);
            transition: 0.7s;

        }

        .inputbox input {
            position: absolute;
            background-color: var(--primary-color);
            width: 100%;
            height: 4px;
            border: none;
            border-radius: 2px;
            transition: .5s;
            font-size: 20px;
            font-weight: bold;

        }

        .inputbox input:focus,
        .inputbox input:valid {
            height: 100%;
            background-color: rgb(255, 255, 255);
        }

        .inputbox input:focus+label,
        .inputbox input:valid+label {
            top: -40px;
            left: 0;
        }

        .container button {
            justify-self: center;
            width: 200px;
            float: inline-end;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: var(--primary-color);
            font-size: 20px;
            font-weight: bold;
            border-radius: 2px;
        }

        .divisor {
            height: 4px;
            width: 100%;
            background-color: var(--primary-color);
            border-radius: 2px;
        }

        h2 {
            color: var(--primary-color);
            text-align: center;
        }

        .falsoBot{

            margin-bottom: 30px;
            display: block;
            margin: auto;
            justify-self: center;
            width: 200px;
            height: 50px;
            border: none;
            outline: none;
            background-color: var(--primary-color);
            font-size: 20px;
            font-weight: bold;
            text-decoration: black;
            border-radius: 2px;
            text-align: center;
            text-decoration: none;
            padding-top: 12px;
            color: #000;
        }
    
        a{

            color: var(--primary-color);
            display: flex;
            align-items: flex-end;
            text-decoration: none;
            text-decoration: none;
            margin-top: 30px;

        }

    </style>





</body>

</html>