<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>


    <h1>Adicionado com sucesso :)</h1>
    
    <a href="http://localhost:5000/api/cadastro/"><button>Voltar</button></a> 


    <style>
        h1{text-align: center; color: #FEED9F;}
        button{display: block; margin: auto; background-color: #FEED9F; border-radius: 2px; width: 200px; }
        body{background-color: black;}
    </style>
</body>
</html>